body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.header{
    width:100vw;
    height: 12vh;
    background-color: lightskyblue;
}

.leftSide{
    width: 10vw;
    height:100vh;
    background: lightgray;
    display: inline-block;
    position: relative;

}
.game_area{
    width: 60vw;
    height: 60vh;
    position: relative;
    display: inline-block;
    margin-left: 10%;
    justify-content: center;
}

.col{
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 7px;
}


.choose-color-page {
    height: 100%;
    width: 100%;
}


.header {
    width: 100%;
    height: 15%;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-section {
    height: 85%;
    width: 100%;
}

.color-container {
    display: inline-block;
    height: 25%;
    width: 45%;
    border: 2px solid black;
    text-align: center;
}

.red, .blue, .gold, .green {
    display: inline-block;
    height: 40%;
    width: 20%;
    border-radius: 50%;
    border: 2px solid black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.gold {
    background-color: goldenrod;
}

.green {
    background-color: green;
}

.gray {
    background-color: gray;
}

.game_area {
    display:none;
}