* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url('images/mt_olympus_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header{
    width:100vw;
    height: 12vh;
    background-color: transparent;
}

.gameHeader {
    width:100%;
    height: 10%;
    background-color: transparent;
}

.game_area{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    justify-content: center;
 
}
.gameGrid{
    height: 90vmin;
    display: flex;
    width: 90vmin;
    margin: auto;
    flex-flow: row wrap;
    align-content: space-evenly;
    border: 5px solid lightgray;
    border-radius: 5%;
}
.row {
    display: flex;
    justify-content: space-evenly;
    height: 13%;
    width: 100%;
}

.col{
    display: inline-block;
    border: 2px solid lightgray;
    width: 13%;
    height: 100%;
    border-radius: 20%;
    background: no-repeat center;
    background-size: cover;
    cursor: pointer;
}


.choose-color-page {
    height: auto;
    width: 100%;
}


.header {
    width: 100%;
    height: 20%;
    background-color: transparent;
}



@font-face {
    font-family: diogenes;
    src: url(diogenes/DIOGENES.ttf);
}

.reset, .modal-text, .toggleAI {
    font-family: diogenes;
    color: white;
}
.buttons {
    text-align: center;
    margin-top: 2%;
}
.toggleAI {
    height: 10%;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
    background-color: black;
    border-radius: 50px;
    width: 25%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-align:center;
    margin: 0 auto;
    cursor: pointer;
    display: inline-block;
    margin-right: 6%;
}

.toggleAI:hover {
    background-color: white;
    color: black;
}

.togglePlayerNumber {
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
    background-color: black;
    border-radius: 50px;
    width: 25%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-align:center;
    margin: 0 auto;
    cursor: pointer;
    font-family: diogenes;
    display: inline-block;
    margin-left: 6%;
}

.togglePlayerNumber:hover {
    background-color: white;
    color: black;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size:2em;
    font-family: diogenes;
    color: white;
    height: 60%;
    
}
.mainTitle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:3em;
    font-family: diogenes;
    color: white;
    height: 60%;
}

.gameTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:3em;
    font-family: diogenes;
    color: white;
    height: 100%;
}

.color-section {
    height: 70%;
    width: 100%;
}

.container-row {
    position: relative;
    height: 40%;
    text-align: center;
}



.color-container {
    display: inline-block;
    height: 100%;
    width: 35%;
    text-align: center;
    
}

.name {
    height: 20%;
    color: black;
    font-size: 2em;
    font-family: diogenes;
}

.red, .blue, .gold, .green {
    display: inline-block;
    height: 80%;
    border-radius: 50%;
    border: 2px solid black;
    padding: 20%;
    cursor: pointer;
}

.red {
    background: url("./Images/Ares.jpg") no-repeat center;
    background-size: cover;
}

.blue {
    background: url("./Images/Artemis.jpg") no-repeat center;
    background-size: cover;
    background-position: 70%;
}

.gold {
    background: url("./Images/Athena.jpg") no-repeat center;
    background-size: cover;
    background-position: 0 10%;
}

.green {
    background: url("./Images/Poseidon.jpg") no-repeat center;
    background-size: cover;
    background-position: 10%;
}

.gray {
    background-color:black;
    opacity: .5;
}

.game_area {
    display:none;
}

/*Modal styling*/
.modal-shadow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(40, 40, 40, 0.4);
}

.modal-box {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    min-width: 55%;
    min-height: 55%;
    background-color: rgba(0,0,0,0.5);
    transform: translate( -50%, -50% );
    border: 1px solid black;
    border-radius: 45px;
}


.modal-text {
    height: 15%;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 2px 8px black;
    position: absolute;
    top: 40%;
    transform: translateY( -50% );
    font-family: diogenes;
}

.reset {
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
    top: 70%;
    transform: translate( -50%, -50% );
    background-color: black;
    border-radius: 50px;
    width: 25%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: diogenes;
    cursor: pointer;
}

.reset:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.zeus-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(40, 40, 40, 0.4);
}

.zeus-modal-box {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    min-width: 65%;
    min-height: 65%;
    transform: translate( -50%, -50% );
}

.zeus-modal-text {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    font-family: diogenes;
    font-size: 2em;
}

.zeus-gif {
    height: auto;
    width: 100%;
    border-radius: 10%;
    z-index: -1;
}

.hidden-modal {
    display: none;
}

.gameGrid {
    text-align:center;
}

.hades-box{
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    min-width: 55%;
    min-height: 55%;
    transform: translate( -50%, -50% );
    border-radius: 45px;
}

.hades-text{
    height: 15%;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 2px 8px black;
    position: absolute;
    top: 40%;
    transform: translateY( -50% );
    font-family: diogenes;  
}



.fireGif{
    height: auto;
    width: 100%;
    z-index: -1;
    opacity: .8;
    border-radius: 10%;
}