body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.header{
    width:100vw;
    height: 12vh;
    background-color: lightskyblue;
}

.gameHeader {
    width:100vw;
    height: 12vh;
}

.leftSide{
    width: 10vw;
    height:100vh;
    background: lightgray;
    display: inline-block;
    position: relative;

}
.game_area{
    width: 60vw;
    height: 60vh;
    position: relative;
    display: inline-block;
    margin-left: 10%;
    justify-content: center;
}

.col{
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 7px;
}


.choose-color-page {
    height: 100%;
    width: 100%;
}


.header {
    width: 100%;
    height: 15%;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2em;
}

.gameTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2em;
}

.color-section {
    height: 85%;
    width: 100%;
}

.color-container {
    display: inline-block;
    height: 25%;
    width: 45%;
    border: 2px solid black;
    text-align: center;
}

.red, .blue, .gold, .green {
    display: inline-block;
    height: 40%;
    width: 20%;
    border-radius: 50%;
    border: 2px solid black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.gold {
    background-color: goldenrod;
}

.green {
    background-color: green;
}

.gray {
    background-color: gray;
}

.game_area {
    display:none;
}

/*Modal styling*/
.modal-shadow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(40, 40, 40, 0.4);
}

.modal-box {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    min-width: 55%;
    min-height: 55%;
    background-color: darkred;
    transform: translate( -50%, -50% );
    border: 3px double orangered;
    border-radius: 45px;
}

.modal-text {
    height: 15%;
    width: 100%;
    color: darkgray;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 2px 8px black;
    position: absolute;
    top: 40%;
    transform: translateY( -50% );
}

.reset {
    position: absolute;
    color: darkgray;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
    top: 60%;
    transform: translate( -50%, -50% );
    background-color: orangered;
    border-radius: 50px;
    width: 25%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.reset:hover {
    background-color: darkgray;
    color: orangered;
}

.hidden-modal {
    display: none;
}